@import "tailwindcss";

body {
  background-color: #fff;
}

/* Global text selection style */
::selection {
  background-color: #a96a5a; /* Selection highlight color */
  color: #ffffff; /* Text color when selected */
}

/* For Firefox */
::-moz-selection {
  background-color: #a96a5a;
  color: #ffffff;
}

footer ::selection {
  background-color: #f5d3c3;
  color: #a96a5a;
}
footer ::-moz-selection {
  background-color: #f5d3c3;
  color: #a96a5a;
}

/* Hide scrollbar for Chrome, Safari and Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; /*for Internet Explorer and Edge*/
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
